body {
    /* The body would have black color fonts*/
    color: rgb(0,0,0);
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: beige;
}

h1 {
    /* This would be the title of the web page*/
    color: #66BFBF;
    font-size: 3rem; 
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    text-align: center;
    display: block;
    position: sticky;
}

h1:active {
    background-color: yellow;
}

h2 {
    color: hsl(225, 59%, 84%);
    font-family: serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h1, h2 {
    font-family: serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.Brainstorm {
    position: relative;
    padding-top: 0.1in;
    padding-bottom: 0.1;
    max-width: 150px;
}


.Check-Ins {
    height: auto;
    width: auto;
}

li:hover {
    text-decoration: underline;
}

.Documentation {
    padding: 0.5em 0 0.5ex 0;
    margin: 10pt 0 10pt 0;
    min-width: 500px;
}

div {
    flex: flex-grow flex-shrink flex-basis;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

}

footer {
    border-top: 0.1ch;
    border-bottom: 0.1ch;
    border-style: outset;
    border-color: red;
    border-width: thick;
    border-radius: 30px;
    display: block;
}

#fname {
    color:black;
}

* {
    background-color: beige;
}

input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
  }

  li li {
    list-style-type: circle;
  }

  div > p {
    background-color: yellow;
  }

  div ~ li {
    background-color: red;
  }

  div + p {
      background-color: blue;
  }

  p.Brainstorm {
      color: purple;
  }
@media(min-width: 600px) {
    p {
        font-size: 1.5rem;
    }
}