body {
    /* The body would have black color fonts*/
    color: rgb(0,0,0);
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: beige;
}

h1 {
    /* This would be the title of the web page*/
    color: #66BFBF;
    font-size: 3rem; 
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    text-align: center;
    display: block;
    position: sticky;
}

h1:active {
    background-color: yellow;
}

h2 {
    color: hsl(225, 59%, 84%);
    font-family: serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.Brainstorm {
    position: relative;
    padding-top: 0.1in;
    padding-bottom: 0.1;
    max-width: 150px;
}


.Check-Ins {
    height: auto;
    width: auto;
}

li:hover {
    text-decoration: underline;
}

.Documentation {
    padding: 0.5em 0 0.5ex 0;
    margin: 10pt 0 10pt 0;
    min-width: 500px;
}

footer {
    border-top: 0.1ch;
    border-bottom: 0.1ch;
    border-style: outset;
    border-color: red;
    border-width: thick;
    border-radius: 30px;
    display: block;
}